* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: quicksand;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    margin-left: 40px;
}

p{
    font-family: koho;
    font-weight: 700;
    font-size: 22px;
}

#logo {
    width: 40px;
    height: auto;
}

.google {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.line {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.line hr {
    width: 214px;
    height: auto;
}

section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1px;

}
.right , .left {
    display: flex;
    flex-grow: 1;
}
.right img {
    width: 601px;
    height: 617px;
    
}
.google_pic img {
    width: 20px;
    height: auto;
}

.left_container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.box, .box_email {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.box_name {
    display: flex;
    flex-direction: row;
    gap: 9px;
}
.box_name input{
    height: 45px;
    width: 231px;
    border-radius: 10px;
    font-size: 15px;
    color: #606060;
    padding: 10px;
    border: 2px solid #c0c0c0;
    background-color: #c0c0c0;
    filter: brightness(1.25);
}
.box_email input, input[type="submit"] {
    height: 45px;
    width: 470px;
    border-radius: 10px;
    font-size: 15px;
    color: #606060;
    padding: 10px;
    border: 2px solid #c0c0c0;
    background-color: #c0c0c0;
    filter: brightness(1.25);
}
input[type="submit"] {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 16px;
    color: white;
    background-color: #133E87;
}
input[type="submit"]:hover {
    background-color: #133E87;
    opacity: 90%;
    cursor: pointer;

}
input[type="text"]:focus, input[type="password"]:focus {
    outline: none;
    border: 2px solid #133E87;
}
#goTologin , .left_container .google{
    align-items: center;
    justify-content: center;
}

.left_container h1 {
    text-align: center;
}

.google {
    width: 470px;
    height: 50px;
    background-color: rgba(192, 192, 192, 0.20);
    border-radius: 10px;
}

.color_label {
    color: #133E87;
    font-weight: 700;
}
.star {
    color: #9B1B30;
}
.checkbox {
    color: #608BC1;
    font-weight: 700;
}
@media (max-width: 1024px) {
    section {
        flex-direction: column;
        gap: 20px;
    }
    .left img {
        width: 350px;
        height: auto;
    }
    .google_pic img {
        width: 20px;
        height: auto;
    }

}

@media (max-width: 768px) {
    .right img {
        display: none;
    }
    .left {
        align-items: center;
        justify-content: center;
    }
    .google_pic img {
        width: 20px;
        height: auto;
    }
}

@media (max-width: 490px) {
    .right img {
        display: none;
    }
    .box_email input, input[type="submit"] , .google {
        height: 45px;
        width: 370px;
    }
    .box_name input{
        width: 180px;
    }
    .google_pic img {
        width: 20px;
        height: auto;
    }
    .line hr {
        width: 165px;
    }
    
    
}
@media (max-width: 300px) {
    .right img {
        display: none;
    }
    .box input {
        width: 210px;
    }
    .google_pic img {
        width: 20px;
        height: auto;
    }
}